


:root {
  --main-font-color: white;
  --secondary-font-color: black;
  --bg-color: #0097b2;
  --revealing-color: #0097b2;
  --current-color: #00bf63;
  --section-padding: 100px;
  --transparent-color: rgb(15 116 143 / 70%);
  --p-color: #777;
  --margin: 50px;
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  position: relative;
  font-family: "Work Sans", sans-serif;
  font-family: "Anton", sans-serif;
  font-family: "Cairo", sans-serif;
  font-family: "XMYekanRegular";
  font-weight: normal;
  font-style: normal;
  color: var(--main-font-color);
  transition: 0.5s;
 
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
}
a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
button {
  font-family: cairo;
}

p {
  font-family: "XMYekanRegular";
  font-family: "Work Sans", sans-serif;
}

ul:not(#regrets-ul) {
  list-style: none;
}
br {
  margin: 10px;
}

button {
  cursor: pointer;
}
.container {
  width: 80%;

  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  display: none !important;
 
 
 
}

.reveal-li {
  color: var(--revealing-color);
  font-weight: bold;
  transform: scale(1.2) translate(5px);
  -webkit-transform: scale(1.2) translate(5px);
  -moz-transform: scale(1.2) translate(5px);
  -ms-transform: scale(1.2) translate(5px);
  -o-transform: scale(1.2) translate(5px);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.reveal-no {
  color: var(--revealing-color);
  font-weight: bold;
}

.animate {
  transform: translate(100px);
  -webkit-transform: translate(100px);
  -moz-transform: translate(100px);
  -ms-transform: translate(100px);
  -o-transform: translate(100px);
}

.red-bg {
  background-color: red;
  border: red;
  width: 100%;
}
#hero {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
 

  position: relative;
 
}
main {
  flex: 4;
}

main .container {
  display: flex;
 
 
}

#hero-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -100;
}

#hero .container {
  position: relative;
}


#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 61%);
  padding: 0;
  margin: 0;
  z-index: -1;
}

#page-bar .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
}

#logo,
#text-me-div {
  flex: 1;
  display: flex;
 
}

.navbar {
  flex: 2;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
}

.facts-list-items:hover {
  color: #0097b2;
  cursor: pointer;
  font-weight: bold;
}

#text-me-div {
  justify-content: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.text-me-btn {
  border: none;
  padding: 5px;

  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  background-color: rgba(18, 132, 174, 0.5);
  color: var(--main-font-color);
  font-size: 0.9rem;
}

.text-me-btn:hover,
#hide-sender-info:hover,
#message-form [type="submit"]:hover {
  background-color: rgba(6, 215, 110, 0.5);
}

main .container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#facts-sections-and-numbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
 
  height: 80%;
}

#facts-sections-holder {
  flex: content;
}

.facts-sections {
  transform: translate(0px);
  transition: all 0.5s ease-in-out;
  -webkit-transform: translate(0px);
  -moz-transform: translate(0px);
  -ms-transform: translate(0px);
  -o-transform: translate(0px);
}

.facts-sections h1 {
  margin: 0 0 10px;
  font-size: 5rem;
}

.facts-sections p {
  width: 80%;
}

#mymess-sec {
  font-size: 0.9em;
}
span#My-mess-note {
  color: red;
  display: block;
}

#My-mess-p span:not(:first-child) {
  display: block;
  color: #0097b2;
  padding: 2px;
}

#facts-numbers-holder {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;
  flex: auto;
  align-items: flex-end;
  margin-left: 60px;
 
}

#regrets-ul {
  margin-top: 10px;
}
#regrets-ul  li {
  margin-top: 5px;
}

#facts-numbers-holder span {
  margin-top: 15px;
  font-family: anton;
}
#facts-numbers-holder span:hover {
  font-size: 2rem;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  cursor: pointer;
}
#footer {
  flex: 1;
 
}
#footer .container #developer {
  display: flex;
  justify-content: space-between;
}

#footer .container #developer p span {
  color: aquamarine;
}

#footer .container #developer span:hover {
  color: #0097b2;
  cursor: pointer;
}

#developer-contacting-info {
  display: flex;
  gap: 5px;
}
#developer-contacting-info span {
  color: blue;
  cursor: pointer;
}

.developer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
 
}

.developer-social a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  cursor: pointer;
 
}
.developer-social a {
  z-index: 1;
}

.developer-social a:hover {
  color: var(--current-color);
 
  transform: rotate(50deg);
  -webkit-transform: scale(5px);
  -moz-transform: scale(5px);
  -ms-transform: scale(5px);
  -o-transform: scale(5px);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.developer-social a i {
  font-size: 1.2em;
}


#text-me {
  height: 100%;
  display: flex;
  flex-direction: column;
 
}

#text-me h1 {
 
  height: fit-content;
}

#message-container {
  display: flex;
  flex: auto;
  margin-top: 5%;
 
}

#message-form {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 5px;
}

#message-form input,
textarea {
  padding: 10px;
  width: 60%;
  background-color: transparent;

  border: 1px solid white;
  color: var(--main-font-color);
}

#message-form [type="submit"] {
  width: fit-content;
  cursor: pointer;
  background-color: #0097b2;
}

#unknown-sender {
  flex: 1;
 
}

#unknown-sender button {
  padding: 10px;
  margin-bottom: 20px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#unknown-sender p {
  width: 50%;
}

#about-me {
 
 
  margin-top: 20px;
}




#animated-logo * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: consolas;
}



#animated-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.circle {
  position: relative;
  width: 200px;
  height: 200px;
 
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
 
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
 
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
 
  background-image: URL("../media/images/Ahmad.jpg");
  background-size: cover;
}

.text-div {
  position: absolute;
  width: 100%;
  height: 100%;
 
  animation: rotateTextDiv 10s linear infinite;
  -webkit-animation: rotateTextDiv 10s linear infinite;
}

@keyframes rotateTextDiv {
  0% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
}

.text span {
  position: absolute;
  left: 50%;
  font-size: 0.9em;
  transform-origin: 0 100px;
}



#facts-slider {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 10px;
  margin: 10px 0;
}

#facts-slider i {
  font-size: 2rem;
}
