/* Media query */
@media (max-width: 768px) {
  .container {
    width: 95%;
  }

  #page-bar .container #navbar {
    font-size: 0.5rem;
  }
  #top-navbar  {
    display: none;
  }

  #facts-sections-and-numbers {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #facts-numbers-holder {
    display: none;
  }

  #facts-sections-holder p {
    width: 100%;
    /* text-align: center; */
  }
  #message-container {
    flex-direction: column;
    gap: 5px;
  }
  #unknown-sender p,
  hr {
    display: none;
  }

  #developer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
  }

  #about-me p {
    font-size: 0.7rem;
  }

  #about-me button {
    display: none;
  }

  #bottom-navbar {
    margin-bottom: 20px;
  }
}
